<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="<%= tema %>">

  <h1>🌙 Sueños V</h1>

  <p>
   🌿 Un espacio para participar en sesiones grupales de conexión con la supra conciencia,
  enfocado en el bienestar, la introspección y el crecimiento personal.
</p>

 <p><%= descripcion %></p>

<nav>
  <a href="/">Inicio</a> |
  <a href="/registro">Registro</a> |
  <a href="/login">Login</a> |
  <a href="/sesiones">Sesiones</a> |
  <a href="/preferencias">Preferencias</a>
</nav>

 

 <footer>
  <p>🌿 Sueños V · Espacio de conexión y bienestar</p>
</footer>


</body>
</html>
